*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	font-family: "Playwrite IT Moderna", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(131,58,180);
	background: linear-gradient(292deg, rgb(248, 0, 78) 21%, rgb(233, 0, 202) 76%, rgb(255, 255, 255) 0%, rgb(96, 0, 125) 50%, rgb(32, 1, 52) 100%);
}

#wrapper{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	position: relative;
}

.product{
	width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	color: azure;
	overflow-y: hidden;
	
}
.heading{
	width: 500px;
	display: flex;
	justify-content: space-between;
	position:sticky;
	margin-bottom: 20px;
}

h2{
	padding: 1rem;
	color: rgb(228, 229, 207);
	font-size: 30px;
	position: sticky;
}


.minus{
	padding: 0 0.5rem;
	border: solid 1px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	cursor: pointer;
}
.plus{
	padding: 0 0.5rem;
	border: solid 1px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	cursor: pointer;
}
.quantity{
	padding: 0 0.5rem;
	border: solid 1px;
	border-radius: 20px;
	background-color: rgb(0, 136, 255);
}
.heading div{
	margin-left: 1.5rem;
	color: aliceblue;
	border: 1px solid;
	border-radius: 20px;
	padding: 0.5rem;
}
.right{
	box-shadow:5px 1px 5px 1px ;
}
.left ,.right{
	position: relative;
}

.left ,.right{
	width: 600px;
	background: rgb(131,58,180);
	background: linear-gradient(292deg, rgb(46, 0, 77) 21%, rgb(6, 186, 196) 76%, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	overflow:auto ; height: 400px;
	border: solid 1px;
	border-radius: 10px;
}

.ADDED{
	width: 450px;
	height: 250px;
	border: 1px solid;
	margin-left: 80px;
	background: rgba(255, 255, 255, 0.341);
	border-radius: 10px;
}
/* Custom Scrollbar */
.left::-webkit-scrollbar {
    width: 8px;
}

.left::-webkit-scrollbar-track {
    background: #b3c6ff;
    border-radius: 10px;
}

.left::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.left::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

/* Custom Scrollbar */
.right::-webkit-scrollbar {
    width: 10px;
}

.right::-webkit-scrollbar-track {
    background: #b3c6ff;
    border-radius: 10px;
}

.right::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.right::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.product > div{
	margin-left: 10px;
	border: solid 1px;
	border-radius: 10px;
	padding: 2px;
}
.product >.add-btn-cart{
	border: none;
}

